<h1>own dynamic example with sbb-select preselect NOT working!!!</h1>
<form [formGroup]="myForm">
<sbb-select
  formControlName="value"
  multiple
  placeholder="Essen - Weiterer Placeholdertext"
>
  <sbb-optgroup
    *ngFor="let entriesOfGroup of entriesOfGroups"
    [label]="entriesOfGroup.group"
  >
    <sbb-option
      *ngFor="let entry of entriesOfGroup.entries"
      [value]="entry.display"
      sbbTooltip="{{entry.tooltip}}" selected="isPreselected(entry.display)"
    >
      {{ entry.display }}
    </sbb-option>
  </sbb-optgroup>
</sbb-select>
</form>